body {
    display:flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    backdrop-filter: blur(3px);
}    


html {
    height: 100%;
    background-image: url('./images/pexels-eneida-nieves-905847.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/* header css */
.nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.nav li:hover {
    cursor: pointer;
}

.nav {
    padding: 0;
    color: white;
}


/* content css */
.content {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.hours {
    list-style-type: none;
    gap: 20px;
    color: white;
    padding: 0px;
    text-align: center;
}

.header {
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    max-height: 717.5px;
    overflow-y: auto;
}


.content-container h1 {
    color: white;
    padding: 20px 20px 52px 20px;
    width: 500px;
    text-align: center;
    
    border-bottom: 2px solid rgb(167,130,93);
}



.about {
    text-align: center;
    width: 500px;
    margin-top: 2rem;
    color: white;
    padding: 20px 20px 52px 20px;
    border-bottom: 2px solid rgb(167,130,93);
}

.operation {
    color: white;
    padding: 20px; 
    width: 500px;
}

.operation h2 {
    text-align: center;
    
}




/* footer css */
.footer{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px; 
}


.footer h3{
    margin: 0px;
}

.fab {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
    color: white;
}
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }
a {
    outline: 0;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}



/* page2 css */
 .item {
     display: flex;
     flex-direction: column;
     flex:auto;
     width: 100%;
     text-align: center;
     justify-content: center;
     align-items: center;
     margin-bottom: 40px;
 }

 .item-description {
    display: flex;
    flex: 1 auto;
    width: 50%;
    /* justify-content: space-between; */
 }

 .underline {
/*      background-color: rgb(167,130,93);
 */     border-bottom: 2px dotted rgb(167,130,93);
     height: 1px;
     flex: 1 100%;
     align-self: center;
     margin: 0px 10px 0px 10px;
 }

/* page3 css */